.card-avatar {
  border: 3px solid rgb(211, 211, 211);
}

.users-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.committee {
  padding-bottom: 30px;
}

.btn-view-info {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}